body{
    background-image: url("rym.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-position: center;

}

*{
    font-family: sans-serif;
}

h1{
    color: rgb(121,99,57);
    font-size: 40px;
}

.titulo{
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    border: 7px solid rgb(121,99,57);
    background-color: rgb(177,218,240, 0.8);
}

.personajes{
    background-color: rgb(251,246,108);
    padding: 100px;
    margin-top: 60px;
    color: rgb(37,52,79);
}

/* Buscador */

.buscador{
    text-align: right;
    margin-bottom: 30px;
}

button{
    margin-left: 10px;
    background-color: rgb(177,218,240);
    border: none;
    padding: 14px 30px;
    border-radius: 1em;
    font-weight: bold;
}

input{
    margin-left: 10px;
    border: 1px solid;
    padding: 10px;
    width: 150px;
    border-radius: 4px;
}

select{
    margin-left: 10px;
    border: 1px solid;
    padding: 10px;
    width: 150px;
    border-radius: 4px;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(121,241,84);
  padding: 12px 16px;
  text-align: left;
}

td:first-child{
    text-align: center;
}

th {
  background-color: rgb(121,241,84);
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.perfil{
    height: 120px;
    width: auto;
}